
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="login-page.component.css">
</head>
<body>
    <div class="leftImg">
        <img src="imgleft.png" alt="left-Image">
       
    </div>
    <div class="midImg">
        <img src="imgRight.png" alt="right-Image">
    </div>
    <div class="rightText">
        <h5>SNMMS & Team</h5>
        <h1>Donation for</h1>
        <h1>Humanity !!</h1>
        <p>Share Kindness with our</p>
        <p>Brother and Sister</p>
        <p>accross the world</p>
       <a href=""><button>Donate Now</button></a> 
        <br>
        
        <a routerLink="/getfood"><button>Get Food</button></a>


    </div>
    
</body>
</html>


